<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ホーム</title>
</head>
<body>
<div th:insert="~{common/sourceList :: sourceList}"></div>
<div th:replace="~{common/header :: header}"></div>
<div class="container-fluid">
	<h2>ホーム</h2>
	<div class="mt-3">
		おはようなのだ。
	</div>
	<a th:href="@{/home}" class="btn btn-success">だいずもん育成へGO!</a>
	<div class="mt-3">
		きょうの体調記録をしよう！
	</div>
	<a th:href="@{/home}" class="btn btn-danger">カラダ記録</a>
	<div class="mt-3">
		変化するボタン
	</div>
	<!-- ボタンを作成し、クリック時にJavaScript関数を呼び出す -->
    <button type="button" onclick="changeButtonText()">クリックして変化</button>

    <!-- JavaScriptの処理 -->
    <script type="text/javascript">
        function changeButtonText() {
            var button = document.querySelector('button');
            button.innerText = '変化しました';
        }
    </script>
    <h2>Weather Information</h2>
    <p>Description: <span th:text="${weatherData.weather[0].description}"></span></p>
    <p>Temperature: <span th:text="${weatherData.main.temp}"></span>°C</p>
    <p>Humidity: <span th:text="${weatherData.main.humidity}"></span>%</p>
</div>
</body>
</html>